In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from mysql-connector-python) (3.20.3)

In [21]:
import mysql.connector as connector

In [22]:
connection = connector.connect(user = "admin2", password = "#Maitandi08#", db = "LittleLemonDB")

In [23]:
cursor = connection.cursor()

In [24]:
show_tables_query = """SHOW tables"""
cursor.execute(show_tables_query)

In [25]:
results = cursor.fetchall()

In [26]:
for result in results:
    print(result)

('Bookings',)
('costview_150',)
('Customers',)
('Delivery',)
('MenuItems',)
('Menus',)
('Orders',)
('ordersview',)
('quantityview_2',)
('Staff',)

In [27]:
select_query = """SELECT CONCAT(Customers.CustomerFirstName, ' ', Customers.CustomerLastName) AS FullName, Customers.ContactNumber, Customers.Email, Orders.TotalCost
FROM Customers
INNER JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60"""

In [28]:
cursor.execute(select_query)
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

('FullName', 'ContactNumber', 'Email', 'TotalCost')
('Chris  Paul', 1078231888, 'c.paul@jmail.com', Decimal('125.00'))
('Dwyane Wade', 1077454432, 'd.wade@zahoo.com', Decimal('235.00'))
('Carmelo  Anthony', 1004546678, 'c.anthony@yotmail.com', Decimal('75.00'))
('Zion Williamson', 1070789777, 'z.williamson@ool.com', Decimal('220.00'))